
.colours {
    --background-color: rgb(28, 28, 28);
    --background-color-alt: rgb(42, 42, 42);
    --background-color-alt2: rgb(62, 62, 62);
    --background-color-alt3: rgb(52, 52, 52);
    --background-color-projects: rgb(36, 36, 36);

    --footer-color: rgb(30, 30, 30);

    --button-color: rgb(141, 62, 55);
    --button-color-alt: rgb(171, 92, 75);

    --text-color: rgb(217, 182, 143);
    --text-color-alt: rgb(210, 166, 117);
    --text-color-alt2: rgb(257, 222, 183);
    --text-color-important: rgb(208, 71, 59);
}

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.1rem;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    background-color: var(--background-color);
    color: var(--text-color);

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
}

h1 h2 h3 h4 h5 h6 {
    color: var(--text-color-important);

    padding-top: 64px;
    font-size: 2em;
}
